.data-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornsilk;
    min-height: 10vh;

    &.small {
        width: 350px;
    }

    &.medium {
        width: 600px;
    }

    &.large {
        width: 900px;
    }

    &.custom {
        width: 100%;
    }
}